@model WebSite.Entities.User;

<head>
    <link href="~/assets//css/register.css" rel="stylesheet">
</head>
<body>
    <div class="center">
        <form asp-controller="Account" asp-action="RegisterUser" method="post" class="register-form">
            <div asp-validation-summary="All" class="alert-danger"></div>
            <h1>Register</h1>
            <div>
                @if (TempData.ContainsKey("ErrorMessage"))
                {
                    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                }
                <label asp-for="Login">Login</label>
                <input asp-for="Login" />
                <span asp-validation-for="Login"></span>
            </div>
            <div>
                <label asp-for="Email">Email</label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password"></span>
            </div>

            <button type="submit" class="button">Register</button>
        </form>
    </div>
</body>
